<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication5.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=ORA;PASSWORD=***;PERSIST SECURITY INFO=True;USER ID=TOUR_AGENCY"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>